/****************************************
*	Page
****************************************/
body {
  background-image: url("../images/Background.png");
  background-repeat: repeat-x;
}
.clear {
  clear: both;
  margin: 5px 0;
}
.clear.extra {
  margin: 12px 0 5px 0;
}
.container {
  background: white;
  margin: 50px auto 0 auto;
  width: 800px;
  height: 500px;
}
.container h1 {
  text-align: center;
}
.container .bible {
  float: left;
  width: 250px;
  height: 440px;
  overflow: scroll;
}
.container .bible p {
  margin: 10px 0;
}
.container .form {
  float: left;
  width: 530px;
  margin: 0 0 0 20px;
}
.container .form label {
  width: 120px;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  display: inline-block;
}
.container .form input[type="text"] {
  position: relative;
  top: -1px;
  width: 390px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  padding: 0 5px;
  border-radius: 5px;
  border: solid 1px #cccccc;
}
.container .form input:focus {
  outline: none;
  background: #f4f5f7;
}
.container .form input.short {
  width: 282px;
}
.container .form input[type='file'] {
  display: none;
}
.select {
  position: relative;
  top: 7px;
  display: inline-block;
  width: 400px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px #cccccc;
}
.select .fa {
  float: right;
  color: #aaa;
  margin: -25px 2px 2px 0;
  line-height: 25px;
  font-size: 20px;
}
.select select {
  position: relative;
  width: 425px;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 0;
  background: transparent;
  appearance: none;
  -moz-appearance: radio-container;
  -webkit-appearance: none;
  cursor: pointer;
}
.select.short {
  width: 102px;
}
.select.short select {
  width: 127px;
}
.select.book {
  width: 150px;
}
.select.book select {
  width: 180px;
}
.select.number {
  width: 50px;
}
.select.number select {
  width: 75px;
}
button:not(.ui-button) {
  height: 30px;
  line-height: 25px;
  font-size: 15px;
  margin: 0;
  padding: 0 15px;
  outline: none;
  background: #f6f6f6;
  color: #0073ea;
  border: solid 1px #cccccc;
  border-radius: 5px;
}
button:not(.ui-button):hover {
  background: #0073ea;
  color: #f6f6f6;
}
/****************************************
*	Icons
****************************************/
.fa {
  font-size: 25pt;
}
.fa.red {
  color: #cc0000;
}
.fa.green {
  color: #007700;
}
/****************************************
*	Spinner
****************************************/
.spinner {
  content: '';
  position: relative;
  margin: 6px 0 0 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-right: solid 3px #ffffff;
  border-top: solid 3px #cc0000;
  background: #ffffff;
  box-shadow: 0 0 0 4px #ffffff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/****************************************
*	Modal
****************************************/
.modal p.text {
  display: inline-block;
}
.modal .moreInfo .fa {
  font-size: 15px;
}
.modal .progress {
  position: relative;
  width: 400px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
}
.modal .bar {
  background-color: #B4F5B4;
  width: 0%;
  height: 20px;
  border-radius: 3px;
}
.modal .percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%;
}
/****************************************
*	Sermon Viewer Styles
****************************************/
.clear {
  clear: both;
}
.viewer {
  background: white;
  margin: 50px auto 0 auto;
  width: 800px;
  height: 500px;
}
.viewer h1 {
  text-align: center;
}
.viewer .sermon {
  position: relative;
  width: 358px;
  /* 		height: 200px; */
  float: left;
  border: 1px solid gray;
  font-size: 18px;
  background: #f6f6f6;
  border-radius: 20px;
  margin: 10px 10px 10px 20px;
  padding: 5px;
}
.viewer .sermon:nth-child(3n) {
  margin: 10px 20px 10px 10px;
}
.viewer .sermon .date {
  font-size: 22px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.viewer .sermon .box {
  margin: 1px;
  padding: 0;
}
.viewer .sermon .box .bold {
  font-weight: bold;
}
.viewer .sermon .button {
  margin: 10px 5px 5px 5px;
  padding: 0;
}
.viewer .sermon .button button {
  background: white;
  display: block;
  margin: 0 auto;
}
.viewer .sermon .button button:hover {
  background: #0073ea;
  color: #f6f6f6;
}
