/****************************************
*	Page
****************************************/
@border: #ccc;
@width: 400px;
@short-select: 102px;
@short-input: 292px;

body {
	background-image: url("../images/Background.png");
	background-repeat: repeat-x;
}

.clear {
	clear: both;
	margin: 5px 0;
	&.extra {
		margin: 12px 0 5px 0;
	}
}

.container {
	background: white;
	margin: 50px auto 0 auto;
	width: 800px;
	height: 500px;
	h1 {
		text-align: center;
	}
	.bible {
		float:left;
		width: 250px;
		height: 440px;
		overflow: scroll;
		p {
			margin: 10px 0;
		}
	}
	.form {
		float:left;
		width: 530px;
		margin: 0 0 0 20px;
		label {
			width: 120px;
			height: 25px;
			line-height: 25px;
			font-size: 20px;
			display: inline-block;
		}
		input {
			&[type="text"] {
				position: relative;
				top: -1px;
				width: @width - 10;
				height: 25px;
				line-height: 25px;
				font-size: 15px;
				padding: 0 5px;
				border-radius: 5px;
				border: solid 1px @border;
			}
			&:focus {
				outline: none;
				background: rgb(244, 245, 247);
			}
			&.short {
				width: @short-input - 10;
			}
			&[type='file'] {
				display: none;
			}
		}
	
		.select {
			position: relative;
			top: 7px;
			display: inline-block;
			width: @width;
			height: 25px;
			line-height: 25px;
			overflow: hidden;
			border-radius: 5px;
			border: solid 1px @border;
			.fa{
				float: right;
				color: #aaa;
				margin: -25px 2px 2px 0;
				line-height: 25px;
				font-size: 20px;
			}
			select {
				position: relative;
				width: @width;
				height: 25px;
				line-height: 25px;
				padding: 0 5px;
				font-size: 15px;
				outline: none;
				border: none;
				border-radius: 0;
				background: transparent;
				appearance: none;
				-moz-appearance: radio-container;
				-webkit-appearance: none;
				cursor: pointer;
			}
			&.short {
				width: @short-select;
				select {
					width: @short-select;
				}
			}
			&.book {
				width: 150px;
				select {
					width: 150px;
				}
			}
			&.number {
				width: 50px;
				select {
					width: 65px;
				}
			}
		}
	}
}

@background: rgb(246, 246, 246);
@background-hover: rgb(0, 115, 234);
@color:  rgb(0, 115, 234);
@color-hover: rgb(246, 246, 246); 

.button {
	height: 30px;
	line-height: 25px;
	font-size: 15px;
	margin: 0;
	padding: 0 15px;
	outline: none;
	background: @background;
	color: @color;
	border: solid 1px @border;
	border-radius: 5px;
	
	&:hover {
		background: @background-hover;
		color: @color-hover;
	}
}
button {
	.button;
}
input[type="submit"] {
	.button;
}

/****************************************
*	Icons
****************************************/
@red: #c00;
@green: #070;

.fa {
	font-size: 25pt;
	&.red {
		color: @red;
	}
	&.green {
		color: @green;
	}
}

/****************************************
*	Spinner
****************************************/
@dimensions: 18px;
@spin-color: #c00;
@back-color: #fff;

.spinner {
	content: '';
	position: absolute;
	margin: 6px 0 0 8px;
	width: @dimensions;
	height: @dimensions;
	border-radius: 50%;
	border-right: solid 3px @back-color;
	border-top: solid 3px @spin-color;
	background: @back-color;
	box-shadow: 0 0 0 4px @back-color;
	animation: spin 1s linear infinite;
	-webkit-animation: spin 1s linear infinite;
}

@keyframes spin
{
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/****************************************
*	Modal
****************************************/
.modal {
	
}