<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="SermonUploader">
	<head>
		<title>Sermon Info Update Page</title> <!-- Page Title -->
<!-- 		<meta charset="UTF-8"> -->
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet"			href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link type="text/css" rel="stylesheet"			href="./css/flick/jquery-ui.css" />
		<link type="text/css" rel="stylesheet/less" href="./css/main.less" />
<!-- 		<link type="text/css" rel="stylesheet" href="./css/main.css" /> -->

		<script type="text/javascript" src="./js/jquery.js"></script>
		<script type="text/javascript" src="./js/jquery-ui.js"></script>
		<script type="text/javascript" src="./js/jquery.form.js"></script>
		<script type="text/javascript" src="./js/less.js"></script>
		<script type="text/javascript" src="./js/angular.js"></script>
		<script type="text/javascript" src="./js/angular-sanitize.js"></script>
		<script type="text/javascript" src="./js/date.js"></script>
		<script type="text/javascript" src="./js/main.js"></script>
		<script type="text/javascript" src="./js/controller.js"></script>
		<script type="text/javascript" src="./js/service.js"></script>
		<script type="text/javascript" src="./js/directive.js"></script>
	</head>

	<body ng-controller="Form">
		<div class="container">
		<h1>Sermon Info Update Page</h1>
			<div class="bible" ng-bind-html="bible.text"></div>
			<div class="form">
	
				<div class="clear">
					<label>Date</label>
					<input type="text" placeholder="mm/dd/yyyy" data-ng-model="date" ui-date="dateOptions">
				</div>
				<div class="clear">
					<label>Service</label>
					<div class="select">
						<select data-ng-model="service" data-ng-options="s.option for s in services"></select>
						<span class="fa fa-angle-down"></span>
					</div>
				</div>
				<div class="clear">
					<label>Speaker</label>
					<div class="select short">
						<select data-ng-model="speakerTitle" data-ng-options="title.value as title.option for title in speakerTitles"></select>
						<span class="fa fa-angle-down"></span>
					</div>
					<input type="text" class="short speaker autofill" placeholder="Name" data-ng-model="name">
				</div>
				<div class="clear extra">
					<label>Sermon Title</label>
					<input type="text" placeholder="Sermon Title" data-ng-model="sermonTitle">
				</div>
				<div class="clear">
					<label>Text</label>
					<div class="select book">
						<select data-ng-model="bible.book" data-ng-options="book.bname for book in bible.books" data-ng-change="bookChange()"></select>
						<span class="fa fa-angle-down"></span>
					</div>
					<div class="select number">
						<select data-ng-model="bible.startChap" data-ng-options="chap for chap in bible.startChaps" data-ng-change="startChapChange()"></select>
						<span class="fa fa-angle-down"></span>
					</div>
					:
					<div class="select number">
						<select data-ng-model="bible.startVerse" data-ng-options="verse for verse in bible.startVerses" data-ng-change="startVerseChange()"></select>
						<span class="fa fa-angle-down"></span>
					</div>
					-
					<div class="select number">
						<select data-ng-model="bible.endChap" data-ng-options="chap for chap in bible.endChaps" data-ng-change="endChapChange()"></select>
						<span class="fa fa-angle-down"></span>
					</div>
					:
					<div class="select number">
						<select data-ng-model="bible.endVerse" data-ng-options="verse for verse in bible.endVerses" data-ng-change="endVerseChange()"></select>
						<span class="fa fa-angle-down"></span>
					</div>
				</div>
				<div class="clear">
					<label>Sermon Type</label>
					<div class="select">
						<select data-ng-model="type" data-ng-options="type.sermon_type for type in types"></select>
						<span class="fa fa-angle-down"></span>
					</div>
				</div>
				<div class="clear extra">
					<label>Special Info</label>
					<input type="text" placeholder="Special Information" data-ng-model="specialInfo">
				</div>
				<div class="clear">
					<form enctype="multipart/form-data">
						<label>Filename</label>
						<input type="file" data-ng-model="sermon">
						<button data-tc-file="sermon">Choose A Sermon To Upload</button>
						<span>{{filename}}</span>
						<div class="clear extra"></div>
						<label></label>
						<button data-ng-click="submitForm()">Upload The Sermon</button>
						<button data-ng-click="resetForm()">Reset The Form</button>
					</form>
					<div data-tc-progress="percent"></div>
				</div>
	
				<p>
					Press the "Upload The Sermon" button to upload the sermon to the internet.<br>
					Press the "Reset The Form" button to clear out the form.<br>
					{{modal.visible ? "TRUE" : "FALSE"}}
				</p>
			</div>
		</div>

<!--
--------------------------------------------------------------------------------
			Form Submit Modal
--------------------------------------------------------------------------------
-->

<!--
--------------------------------------------------------------------------------
Class hidden is hidden by css when the page is loaded
Each section contains a "success", "error", and "processing" image that can be displayed to show
the status of that section at any time
--------------------------------------------------------------------------------
-->


		<div class="modal" data-ng-show="modal.visible" data-tc-modal="modal.visible">
			<!-- Display this section when more information is needed in the form -->
			<div class="moreInfo" data-ng-show="modal.info.error">
				<span class="fa" data-ng-class="{'fa-times-circle red': icons.info.error}"></span>
				<p>Information is missing from the form. Please complete the form and try again.</p>
				<p data-ng-show="modal.info.missing.length > 0">
					Please include the following:
					<p data-ng-repeat="item in modal.info.missing">{{item}}</p>
				</p>
			</div>

			<!-- Display this section when an error has occured and the user needs to start over -->
			<div class="error" data-ng-show="modal.error">
				<span class="fa" data-ng-class="{'fa-times-circle red': modal.error}"></span>
				<p>There was an error in the submission process. Please try again.</p>
			</div>

			<!-- Display this section when the file starts the upload process -->
			<div class="upload">
				<span class="fa" data-ng-class="{spinner: modal.upload.spinner, 'fa-check-circle green': modal.upload.success, 'fa-times-circle red': modal.upload.error}"></span>
				<p data-ng-show="modal.upload.text">Uploading sermon audio to Church server</p>
				<div class="uploadProgress"></div>
			</div>

			<!-- Display this section if the upload was successful when the file is being converted -->
			<div class="convert">
				<span class="fa" data-ng-class="{spinner: modal.convert.spinner, 'fa-check-circle green': modal.convert.success, 'fa-times-circle red': modal.convert.error}"></span>
				<p data-ng-show="modal.convert.text">Preparing sermon audio for web-site</p>
				<div class="convertProgress"></div>
			</div>

			<!-- Display this section if the speaker's name is not already in the database -->
			<div class="newSpeaker">
				<span class="fa" data-ng-class="{spinner: modal.newSpeaker.spinner, 'fa-check-circle green': modal.newSpeaker.success, 'fa-times-circle red': modal.newSpeaker.error}"></span>
				<p data-ng-show="modal.newSpeaker.text">Adding speaker to list</p>
			</div>

			<!-- Display this section when the information is being added to the website database -->
			<div class="remote">
				<span class="fa" data-ng-class="{spinner: modal.remote.spinner, 'fa-check-circle green': modal.remote.success, 'fa-times-circle red': modal.remote.error}"></span>
				<p data-ng-show="modal.remote.text">Sending information to web-site</p>
			</div>

			<!-- Display this section when the information is being added to the church onsite database -->
			<div class="local">
				<span class="fa" data-ng-class="{spinner: modal.local.spinner, 'fa-check-circle green': modal.local.success, 'fa-times-circle red': modal.local.error}"></span>
				<p data-ng-show="modal.local.text">Sending sermon information to Church server</p>
			</div>

		</div> <!-- End Modal Div -->

	</body>
</html>