<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="SermonViewer">
	<head>
		<title>Sermon Info Update Page</title> <!-- Page Title -->

		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<!-- Stylesheets -->
<!-- Dynamic Stylesheet link -->
<!-- 		<link type="text/css" rel="stylesheet/less" href="../css/main.less" /> -->
		<link type="text/css" rel="stylesheet" href="../css/main.css" />

<!-- Scripts -->
<!-- Dynamic Stylesheet script -->
<!-- 		<script type="text/javascript" src="../js/plugins/less/less.js"></script> -->
		<script type="text/javascript" src="../js/plugins/jquery/jquery.js"></script>
		<script type="text/javascript" src="../js/plugins/angular/angular.js"></script>
		<script type="text/javascript" src="../js/sermons.js"></script>
	</head>

	<body ng-controller="Sermons">
	<div class="viewer">
		<h1>Uploaded Sermons</h1>
		<div class="sermon" data-ng-repeat-start="sermon in sermons">
			<p class="date">{{sermon.date | date:"EEEE - MMM d, yyyy"}}</p>
			<p class="box">
				<span class="bold speaker">{{sermon.title}} {{sermon.speaker}}</span> - <span class="text">{{sermon.text}}</span>
			</p>
			<p class="box">
				<span class="bold">Title:</span>
				<span class="title">{{sermon.sermon_title}}</span>
			</p>
			<p class="box" data-ng-show="sermon.spec_info != ''">
				<span class="bold">Special Info:</span>
				<span class="info">{{sermon.spec_info}}</span>
			</p>
			<p class="button"><button data-ng-click="downloadSermon(sermon)">Download the Sermon</button></p>
		</div>
		<div class="clear" data-ng-if="$odd" data-ng-repeat-end></div>
<!-- 		<pre>{{sermons | json}}</pre> -->
	</div>
	</body>
</html>